@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,300&display=swap");

* {
    box-sizing: border-box;
}
html,
body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height:120%;
}
#page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    width: 100%;
    padding:0px;
    height:120%;
}
header {
    width: 100%;
    background-color: hsl(47, 50%, 46%);
    height: 10%;
    color: white;
    display: grid;
    place-items: center;
    font-size: 50px;
    font-family: monospace;
    font-style: italic;
}
nav {
    height:100%;
    float: left;
    background-color: hsl(210, 50%, 30%);
    width: 15%;
    padding-top: 1.5%;
    padding-bottom: 5%;
    padding-left: 1%;
    text-align: left;
    color: whitesmoke;
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
}

.article {
    height:100%;
    animation:transition 3s;
    position: relative;
    float: left;
    width: 85%;
    background-color: whitesmoke;
}

footer {
    clear: both;
    height: 5%;
    background-color: rgb(42, 39, 39);
    text-align: center;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    display: grid;
    place-items: center;
}

@media screen and (orientation: portrait) {
}
nav ul {
    margin: 0;
    padding-inline-start: 10%;
}
nav ul li {
    padding-left: 2%;
    padding-top: 10%;
    padding-bottom: 20%;
    cursor: pointer;
}
li:hover {
    color: hsl(0, 85%, 50%);
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: hsl(0, 85%, 50%);
}


@keyframes transition {
    from{
        opacity:0;
        transform:rotateX(-10deg);

    }
    to{
        opacity:1;
        transform:rotateX(0);

    }
    
}
.imgText{
    width:100%;
    padding:1%;
}
.articleIMGLeft{
    width:200px;
    float:left;
    padding-right:10px;
    border-radius:20%;
}
.imgText h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;  
    margin-bottom:5px;
    margin-top:0px;
    text-align:center;
    font-size:50px;
    text-shadow: 10px 6px 10px black;
}
.imgText p{
    margin-left:10px;
    text-indent:20px;
    font-family:Arial, Helvetica, sans-serif;
}
.articleBilans{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:342px;
}
.articleTable{
    width:600px;
    height:342px;
    margin-left:10px;
    float:left;
    margin-bottom:30px;
}
.articleTable thead th{
    border: 1px solid #ddd;
    padding: 5px;
}
.articleTable thead tr{
    background-color:rgb(143, 54, 54);
}
.articleTable tbody th{
    border: 1px solid #ddd;
    padding: 5px;
}
.articleTable tbody tr{
    background-color:rgb(196, 180, 180);
}
.articleTable tbody tr:nth-child(even){
    background-color:gray;
}
.articleTable tbody tr:hover{
    background-color:rgb(143, 54, 54);
}
.articleBilans video{
    width:608px;
    height:342px;
    margin-top:0px;
    margin-left:20px;
    float:left;
    border:black;
}

.articleBilans2{
    clear:both;
}

.article form{
    text-align:center;
    margin-top:25%;
}